@font-face {
  font-family: "AppName";
  src: url("@assets/fonts/Righteous/Righteous-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Highlight";
  src: url("@assets/fonts/Inter/Inter-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Normal";
  src: url("@assets/fonts/Rubik/Rubik-VariableFont_wght.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Italic";
  src: url("@assets/fonts/Rubik/Rubik-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 300;
  font-style: italic;
}

