@media (prefers-color-scheme: light) {
  :root {
    --text-50: #eff2f5;
    --text-100: #e0e6eb;
    --text-200: #c1ccd7;
    --text-300: #a2b3c3;
    --text-400: #8399af;
    --text-500: #637f9c;
    --text-600: #50667c;
    --text-700: #3c4c5d;
    --text-800: #28333e;
    --text-900: #14191f;
    --text-950: #0a0d10;

    --background-50: #edf1f7;
    --background-100: #dbe4f0;
    --background-200: #b8c9e0;
    --background-300: #94add1;
    --background-400: #7092c2;
    --background-500: #4d77b3;
    --background-600: #3d5f8f;
    --background-700: #2e476b;
    --background-800: #1f3047;
    --background-900: #0f1824;
    --background-950: #080c12;

    --primary-50: #ecf2f9;
    --primary-100: #d9e4f2;
    --primary-200: #b3c9e6;
    --primary-300: #8cafd9;
    --primary-400: #6694cc;
    --primary-500: #4079bf;
    --primary-600: #336199;
    --primary-700: #264973;
    --primary-800: #19304d;
    --primary-900: #0d1826;
    --primary-950: #060c13;

    --secondary-50: #eaf1fa;
    --secondary-100: #d5e4f6;
    --secondary-200: #acc9ec;
    --secondary-300: #82aee3;
    --secondary-400: #5993d9;
    --secondary-500: #2f77d0;
    --secondary-600: #2660a6;
    --secondary-700: #1c487d;
    --secondary-800: #133053;
    --secondary-900: #09182a;
    --secondary-950: #050c15;

    --accent-50: #e9f1fc;
    --accent-100: #d2e4f9;
    --accent-200: #a5c8f3;
    --accent-300: #78aded;
    --accent-400: #4b91e7;
    --accent-500: #1f76e0;
    --accent-600: #185eb4;
    --accent-700: #124787;
    --accent-800: #0c2f5a;
    --accent-900: #06182d;
    --accent-950: #030c16;

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #0a0d10;
    --text-100: #14191f;
    --text-200: #28333e;
    --text-300: #3c4c5d;
    --text-400: #50667c;
    --text-500: #637f9c;
    --text-600: #8399af;
    --text-700: #a2b3c3;
    --text-800: #c1ccd7;
    --text-900: #e0e6eb;
    --text-950: #eff2f5;

    --background-50: #080c12;
    --background-100: #0f1824;
    --background-200: #1f3047;
    --background-300: #2e476b;
    --background-400: #3d5f8f;
    --background-500: #4d77b3;
    --background-600: #7092c2;
    --background-700: #94add1;
    --background-800: #b8c9e0;
    --background-900: #dbe4f0;
    --background-950: #edf1f7;

    --primary-50: #060c13;
    --primary-100: #0d1826;
    --primary-200: #19304d;
    --primary-300: #264973;
    --primary-400: #336199;
    --primary-500: #4079bf;
    --primary-600: #6694cc;
    --primary-700: #8cafd9;
    --primary-800: #b3c9e6;
    --primary-900: #d9e4f2;
    --primary-950: #ecf2f9;

    --secondary-50: #050c15;
    --secondary-100: #09182a;
    --secondary-200: #133053;
    --secondary-300: #1c487d;
    --secondary-400: #2660a6;
    --secondary-500: #2f77d0;
    --secondary-600: #5993d9;
    --secondary-700: #82aee3;
    --secondary-800: #acc9ec;
    --secondary-900: #d5e4f6;
    --secondary-950: #eaf1fa;

    --accent-50: #030c16;
    --accent-100: #06182d;
    --accent-200: #0c2f5a;
    --accent-300: #124787;
    --accent-400: #185eb4;
    --accent-500: #1f76e0;
    --accent-600: #4b91e7;
    --accent-700: #78aded;
    --accent-800: #a5c8f3;
    --accent-900: #d2e4f9;
    --accent-950: #e9f1fc;

  }
}
